.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #0f3d3e, #055052);
}

.auth-box {
  background: #fff;
  width: 380px;
  padding: 40px 35px;
  border-radius: 12px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.25);
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
  color: #055052;
  font-size: 28px;
  font-weight: 700;
}

.auth-box input {
  width: 100%;
  padding: 12px 15px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.3s ease;
}

.auth-box input:focus {
  border-color: #0a8f38;
  box-shadow: 0 0 8px rgba(10,143,56,0.35);
  outline: none;
}

.auth-btn {
  width: 100%;
  padding: 12px 15px;
  background: #0a8f38;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-btn:hover {
  background: #0c7d34;
}

.auth-switch {
  margin-top: 15px;
  font-size: 15px;
}

.auth-switch a {
  color: #0a8f38;
  font-weight: bold;
  text-decoration: none;
}
/* Popup Background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup Card */
.popup-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  animation: popup 0.3s ease;
}

/* Green Tick Circle */
.popup-icon {
  font-size: 45px;
  color: #4CAF50;
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 3px solid #c7eec7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Title */
.popup-card h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

/* Message */
.popup-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* OK Button */
.popup-btn {
  background: #66c9ff;
  border: none;
  padding: 10px 35px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.popup-btn:hover {
  opacity: 0.9;
}

/* Popup Animation */
@keyframes popup {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
